body {
    background-color: white;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    box-align: middle;
  }
 h1 {
    color: rgb(44, 45, 48); 
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-style: bold;
    text-align: center;
    text-shadow: 2px 2px 2px #aaa;
    }
h2 {
    color: rgb(50, 51, 56); 
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; 
    text-align: center;
    max-width: 800px;
    }
h3 {
    color: rgb(50, 51, 56); 
    font-family: 'Open Sans', sans-serif;
    font-size: 12px; 
    text-align: left;
    }
h4 {
    color: rgb(50, 51, 56); 
    font-family: 'Open Sans', sans-serif;
    font-size: 12px; 
    text-align: right;
    margin: 1200
    }